
<section id="footer">
    <div id="content">
        <div id="left">
            <!-- logo -->
            <img src="/images/start_logo.png" width="40" />
            <span>Coolpa.net all rights reserved</span>
        </div>
        <div id="right">
            <a href="/about">About</a> | <a href="/terms">Terms of Service</a>
        </div>
    </div>
</section>

<script>
$(document).ready(function() {

    if( window.location.pathname == '/profile' ) {
        $('.tabbable li a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        if(window.location.hash) {
            $(window.location.hash + "_ref").click();
        }
    } else if( window.location.pathname == '/privates' ) {
        $("#message").charCount({
            css: 'pull-right',
            textFunction: function(text) {
                if( text.match(/[:]+[A-Za-z0-9-_]+/g) ){
                    $("#sendBtn").removeAttr('disabled');
                } else {
                    $("#sendBtn").attr('disabled', "disabled");
                }
            },
            exceededFunction: function( exceeded ) {
                if( exceeded ) {
                    $("#sendBtn").attr('disabled', "disabled");
                } else {
                    $("#sendBtn").removeAttr('disabled');
                }
            }
        });
    } else {
        $("#message").charCount({
            css: 'pull-right',
            textFunction: function(text) {
                if( $('#reply_to').val() != -1 && text.length == 0 ) {
                    $('#reply_to').val('-1');
                } 
                if( $('#author').val() != -1 && text.length == 0 ) {
                    $('#author').val('');
                    $('#original_id').val('');
                }
            },
            exceededFunction: function( exceeded ) {
                if( exceeded ) {
                    $("#sendBtn").attr('disabled', "disabled");
                } else {
                    $("#sendBtn").removeAttr('disabled');
                }
            }
        });
    }


    $("#help").popover({
        title: 'Help'
    });

    $('button').tooltip();

    $('.timeago').timeago();
});

function favorite(mid) {
    if( $('#fav_' + mid + ' i').attr('class') == 'icon-star-empty' ) {
        $.post('/favorite/', {
            mid: mid
        }, function(data) {
            $('#fav_' + mid + ' i').removeClass('icon-star-empty');
            $('#fav_' + mid + ' i').addClass('icon-star');
        }, 'json');
    } else {
        $.post('/unfavorite/', {
            mid: mid
        }, function(data) {
            $('#fav_' + mid + ' i').removeClass('icon-star');
            $('#fav_' + mid + ' i').addClass('icon-star-empty');
        }, 'json');
    }
}

<% if (typeof autocomplete != 'undefined') { %>
    if("/start"==window.location.pathname||"/mentions"==window.location.pathname||"/privates"==window.location.pathname){var triggered=!1,trigger=":";$("#message").autocomplete({source:<%-autocomplete%>,search:function(){if(!triggered)return!1},select:function(a,b){var c=this.value,d=c.lastIndexOf(trigger);this.value=c.substring(0,d+trigger.length)+b.item.value;return triggered=!1},focus:function(){return!1},minLength:1}).bind("keyup",function(e){
        switch (e.keyCode) {
                    case $.ui.keyCode.ESCAPE:
                        self.close(e);
                        e.stopImmediatePropagation();
                        break;
                    case $.ui.keyCode.UP:
                    case $.ui.keyCode.DOWN:
                        if (!self.menu.element.is(":visible")) {
                            e.stopImmediatePropagation();
                        }
                }
        var a=this.value,b=a.length;triggered?(b=a.lastIndexOf(trigger),a=a.substring(b+
trigger.length),$(this).autocomplete("search",a)):b>=trigger.length&&(a=a.substring(b-trigger.length),triggered=a===trigger)});};
<% } %>

</script>
<% if (user) { %>
<script type="text/javascript" src="/javascripts/coolpa.js"></script>
<script type="text/javascript">
    setupNotifications('<%=user%>');
</script>
<% } %>

<style>
form .warning{color:#600;}	
form .exceeded{color:#e00;}
</style>
</div>
</body>
</html>