
<section id="footer">
    <div id="content">
        <div id="left">
            <!-- logo -->
            <img src="/images/start_logo.png" width="40" />
            <span>Coolpa.net all rights reserved</span>
        </div>
        <div id="right">
            <a href="/about">About</a> | <a href="/terms">Terms of Service</a>
        </div>
    </div>
</section>

<script>
$(document).ready(function() {

    if( window.location.pathname == '/profile' ) {
        $('.tabbable li a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        if(window.location.hash) {
            $(window.location.hash + "_ref").click();
        }
    } else if( window.location.pathname == '/privates' ) {
        $("#message").charCount({
            css: 'pull-right',
            textFunction: function(text) {
                if( text.match(/[:]+[A-Za-z0-9-_]+/g) ){
                    $("#sendBtn").removeAttr('disabled');
                } else {
                    $("#sendBtn").attr('disabled', "disabled");
                }
            },
            exceededFunction: function( exceeded ) {
                if( exceeded ) {
                    $("#sendBtn").attr('disabled', "disabled");
                } else {
                    $("#sendBtn").removeAttr('disabled');
                }
            }
        });
    } else {
        $("#message").charCount({
            css: 'pull-right',
            textFunction: function(text) {
                if( $('#reply_to').val() != -1 && text.length == 0 ) {
                    $('#reply_to').val('-1');
                } 
                if( $('#author').val() != -1 && text.length == 0 ) {
                    $('#author').val('');
                    $('#original_id').val('');
                }
            },
            exceededFunction: function( exceeded ) {
                if( exceeded ) {
                    $("#sendBtn").attr('disabled', "disabled");
                } else {
                    $("#sendBtn").removeAttr('disabled');
                }
            }
        });
    }


    $("#help").popover({
        title: 'Help'
    });

    $('button').tooltip();

    $('.timeago').timeago();
});

function favorite(mid) {
    if( $('#fav_' + mid + ' i').attr('class') == 'icon-star-empty' ) {
        $.post('/favorite/', {
            mid: mid
        }, function(data) {
            $('#fav_' + mid + ' i').removeClass('icon-star-empty');
            $('#fav_' + mid + ' i').addClass('icon-star');
        }, 'json');
    } else {
        $.post('/unfavorite/', {
            mid: mid
        }, function(data) {
            $('#fav_' + mid + ' i').removeClass('icon-star');
            $('#fav_' + mid + ' i').addClass('icon-star-empty');
        }, 'json');
    }
}

<% if (user) { %>
    // Notifications section
    if (window.webkitNotifications) {
        if (window.webkitNotifications.checkPermission() != 0) {
            window.webkitNotifications.requestPermission();
        }
    } else {
        console.log("Notifications are not supported for this Browser/OS version yet.");
    }

    var mention_store = "mention_store";
    var private_store = "private_store";

    // Check if same section and delete
    if( window.location.pathname == '/privates' ) {
        window.localStorage.setItem(private_store, 0);
    }

    if( window.location.pathname == '/mentions' ) {
        window.localStorage.setItem(mention_store, 0);
    }

    // Show or hide depending of content
    update_counters();

    var socket = io.connect('http://localhost');
    socket.emit('username', '<%=user%>');
    socket.on('notification', function (data) {
        if (window.webkitNotifications) {
            window.webkitNotifications.createNotification('http://coolpa.net/avatars/avatar.jpg', data.title, data.message).show();
        }
        if( data.type == 'mention' ) {
            var cnt = parseInt( window.localStorage.getItem(mention_store) ) + 1;
            window.localStorage.setItem(mention_store, cnt);
        } else if( data.type == 'private' ) {
            var cnt = parseInt( window.localStorage.getItem(private_store) ) + 1;
            window.localStorage.setItem(private_store, cnt);
        }

        update_counters();
    });

    function update_counters() {
        if( window.localStorage.getItem(mention_store) == undefined || window.localStorage.getItem(mention_store) == 0 ) {
            $("#badge_mention").hide();
        } else {
            $("#badge_mention").html( ( parseInt( window.localStorage.getItem(mention_store) ) > 9 ) ? "9+" : parseInt( window.localStorage.getItem(mention_store) ) );
            $("#badge_mention").show();
        }

        if( window.localStorage.getItem(private_store) == undefined || window.localStorage.getItem(private_store) == 0 ) {
            $("#badge_private").hide();
        } else {
            $("#badge_private").html( ( parseInt( window.localStorage.getItem(private_store) ) > 9 ) ? "9+" : parseInt( window.localStorage.getItem(private_store) ) );
            $("#badge_private").show();
        }
    }
<% } %>

</script>

<style>
form .warning{color:#600;}	
form .exceeded{color:#e00;}
</style>
</div>
</body>
</html>