<% include header.html %>
        <div class="container-fluid" style="padding-top: 60px;">
            <div class="row-fluid">
                <% include menu.html %>
                <div class="span6">
                    <form method="POST" action="/message">
                        <input type="hidden" name="uid" value="<%=user%>"/>
                        <textarea rows="3" id="message" name="message" class="span12" placeholder="What you want to tell?"></textarea><br/>
                        <input type="submit" value="Send" class="btn btn-primary" />
                        <a href="#" class="btn" id="help" rel="popover" data-content="Just write what you want to tell to the world. <br/>If you want to mention someone put the username preppending a colon ( : ). Ex. :username hi how are you?."><i class="icon-question-sign"></i></a>
                    </form>
                    
                    <script>
                    /*$('textarea#message').mentionsInput({
                  	  onDataRequest:function (mode, query, callback) {
                  	    var data = <%=autocomplete%>;

                  	    data = _.filter(data, function(item) { return item.name.toLowerCase().indexOf(query.toLowerCase()) > -1 });

                  	    callback.call(this, data);
                  	  },
                  	  minChars: 2,
                  	  triggerChar: ':',
                  	  showAvatars: true
                  	});*/
                  </script>
                </div>
                <div class="span6" id="messages">
                    <% messages.forEach(function(data){ %>
                        <% if( data.sender != user && data.hidden == true ) { return ""; } %>

<div class="well" style="overflow: hidden; display: block;" id="id:<%= data._id %>">
    <div class="pull-left">
        <img src="/avatars/<%= data.sender %>/avatar.square.jpg" class="img-rounded" width="80" height="80">
    </div>

    <div class="pull-left span9" style="margin-left: 15px;">
        <a href="/users/<%=data.sender%>"><h4><%= data.sender %></h4></a>
        <span><%- data.message.parseURL().parseUsername() %></span><br/><br/>
        <time class="timeago" datetime="<%=data.creationDate.toISOString()%>"></time>
    </div>
    
    <div class="pull-right" id="options">
        <div class="btn-group btn-group-vertical">
            <% if( data.sender != user ) { %>
            <button class="btn" onclick="$('#message').append(':<%=data.sender%> ');$('html, body').animate({scrollTop:0}, 'fast');$('#message').focus();$('#message').caretToEnd();"><i class="icon-share-alt"></i></button>
            <% } %>
            <% if( data.sender == user ) { %>
            <button class="btn" onclick="location.href='/remove/<%=data._id%>';"><i class="icon-remove"></i></button>
            
            <% if( data.hidden == false ) { %>
            <button class="btn" onclick="location.href='/hide/<%=data._id%>';"><i class="icon-eye-close"></i></button>
            <% } else { %>
            <button class="btn" onclick="location.href='/unhide/<%=data._id%>';"><i class="icon-eye-open"></i></button>
            <% } %>
            <% } %>
            <button class="btn"><a href="/message/<%= data._id %>" target="_BLANK"><i class="icon-globe"></i></a></button>
        </div>
    </div>
</div>
                    <% }) %>

                    <button type="button" id="load_more" class="btn btn-primary span11 center" data-loading-text="Loading..." data-date="<%= messages[messages.length - 1].creationDate %>" onclick="load_more();" style="display: block;">more</button>
                </div>
                <script>
                    function load_more() {
                        var button = $("#load_more");

                        $.post('/more', {
                            date: button.attr('data-date'),
                            section: '<%=section%>'
                        }, function(html){
                            button.remove();

                            $('#messages').append(html);
                        }, 'html');
                    }
                </script>
            </div>
        </div>
<% include footer.html %>