<% include header.html %>
<section id="slider-wrapper">

    <div class="flexslider">
        <ul class="slides"> 
            <li>
                <img src="/images/top-header.jpg" alt="" />
            </li>
        </ul>
    </div>

</section>

<section id="content-wrapper">
    <div id="content">
        <div id="timeline">
            <div id="time-line">
                <div class="timeline-icon-bottom">
                    <a href="#" class="icon-totop"></a>
                    <span class="tophov">Back to top</span>
                </div>   
            </div>

            <div id="picture-profile">
                <a href="/">
                    <img src="/avatars/<%= user %>/avatar.square.jpg" alt="" />
                </a>
            </div>

            <form method="POST" action="/message" id="message_sender">
                <div id="profile-description">
                    <div class="timeline-preview">
                        <div class="timeline-icon-pp"><a href="/" class="icon-profile"></a></div>
                        <div class="timeline-pointer-pp"><span class="tl-pointer"></span></div>
                        <div class="timeline-content">
                            <p class="description">
                                <input type="hidden" name="uid" value="<%=user%>"/>
                                <input type="hidden" name="public" value="78"/>
                                <textarea rows="3" id="message" name="message" placeholder="Private message with..." style="width: 92%;max-width:92%;min-width: 92%;"></textarea><br/>
                            </p>
                        </div>
                        <div class="timeline-bar">
                            <div>
                                <input type="submit" class="btn" id="sendBtn" value="Send" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>

                    <div id="messages">
                        <% messages.forEach(function(data){ %>
                        <% if( data.public === true ) { return ""; } %>
                        <div class="post">
                            <div class="timeline-preview">
                                <div class="timeline-icon">
                                    <!--<span class="icon-datepost"></span>-->
                                    <div class="minipic">
                                        <a href="/users/<%=data.sender%>">
                                            <img src="/avatars/<%= data.sender %>/avatar.square.jpg">
                                        </a>
                                    </div>
                                </div>
                                <div class="timeline-pointer"><span class="tl-pointer"></span></div>
                                <div class="timeline-content-page">
                                    <div class="textpost">
                                        <h2 class="post-title">
                                            <a href="/users/<%=data.sender%>"><%= data.sender %></a>
                                        </h2>
                                        <span class="post-divider"></span>

                                        <div class="bodytext">
                                            <p>
                                                <%- data.message.parseURL().parseUsername() %>
                                            </p>
                                            <span class="post-divider"></span>
                                            <!--<a href="{Permalink}" class="read_more">Read More ...</a>-->
                                            <time class="timeago read_more" datetime="<%=data.creationDate.toISOString()%>"></time>
                                            <div style="float:right;">
                                                <% if( data.sender != user ) { %>
                                                <button class="btn" onclick="$('#message').val(':<%=data.sender%> ');$('html, body').animate({scrollTop:0}, 'fast');$('#message').focus();$('#message').caretToEnd();"><i class="icon-share-alt"></i></button>
                                                <% } %>
                                                <% if( data.sender == user ) { %>
                                                <button class="btn" onclick="location.href='/remove/<%=data._id%>';"><i class="icon-remove"></i></button>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) %>

                        <% if(messages != undefined ) { %>
                        <% if(messages.length > 0) { %>
                        <div class="post"  id="load_more" data-date="<%= messages[messages.length - 1].creationDate %>">
                            <div class="timeline-preview">
                                <div class="timeline-icon"><span class="icon-chat"></span></div>
                                <div class="timeline-pointer"><span class="tl-pointer"></span></div>
                                <div class="timeline-content-page">
                                    <div class="textpost">
                                        <h2 class="post-page-title">
                                            <a href="javascript:load_more();">Load older messages...</a>
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                        <% } %>
                    </div>
                </div> <!-- End .timeline-preview -->
            </div> <!-- End .post -->               

        </div><!-- End #blogpost -->

    </div><!-- End #timeline -->

</div><!-- End #content -->
</section>

<script>
function load_more() {
    var button = $("#load_more");

    $.post('/more', {
        date: button.attr('data-date'),
        section: '<%=section%>'
    }, function(html){
        button.remove();

        $('#messages').append(html);

        $('.timeago').timeago();
    }, 'html');
}
</script>
</div>
</div>
<% include footer.html %>