<div class="row-fluid">
    <div class="span5 well" style="overflow: hidden;" id="id:<%= data._id %>">
        <div>
            <h4><%= from.name %> <%= from.lastname %></h4>
            <span>Importe: $<%= data.from_ammount %></span><br/>
            <span><%= date %></span>
        </div>
    </div>

    <div class="span1"><span class="pull-right">></span></div>
    <div class="span1">></div>

    <div class="span5 well" style="overflow: hidden;" id="id:<%= data._id %>">
        <div>
            <h4><%= to.name %> <%= to.lastname %></h4>
            <span>Importe: $<%= data.to_ammount %></span><br/>
            <span><%= date %></span>
        </div>
    </div>
</div>