<% include header.html %>

<section id="slider-wrapper">

    <div class="flexslider">
        <ul class="slides"> 
            <li>
                <img src="/avatars/<%= data._id %>/top.jpg" alt="" />
            </li>
        </ul>
    </div>

</section>

<section id="content-wrapper">
    <div id="content">
        <div id="timeline">
            <div id="time-line">
                <div class="timeline-icon-bottom">
                    <a href="#" class="icon-totop"></a>
                    <span class="tophov">Back to top</span>
                </div>   
            </div>

            <div id="picture-profile">
                <a href="#">
                    <img src="/avatars/<%= data._id %>/avatar.square.jpg" alt="" />
                </a>
            </div>

            <form class="form-horizontal tab-pane active" method="POST" action="/user_data" id="user_data">
                <div id="profile-description">
                    <div class="timeline-preview">
                        <div class="timeline-icon-pp"><a href="/" class="icon-profile"></a></div>
                        <div class="timeline-pointer-pp"><span class="tl-pointer"></span></div>
                        <div class="timeline-content">
                            <p class="description">
                                <div class="textpost">
                                    <h2 class="post-title">Your data</h2>
                                    <span class="post-divider"></span>

                                    <% if( notification ) { %>
                                    <% if( notification.type == 'data' ) { %>
                                    <p><%=notification.message%></p>
                                    <% } %>
                                    <% } %>

                                    <div class="control-group">
                                        <label class="control-label" for="inputName">Name</label>
                                        <div class="controls">
                                            <input type="text" name="name" id="inputName" placeholder="Your name" value="<%=data.name%>">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputDescription">Description</label>
                                        <div class="controls">
                                            <input type="text" name="description" id="inputDescription" placeholder="A bit about you..." maxlength="140" value="<%=data.description%>">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputEmail">Email</label>
                                        <div class="controls">
                                            <input type="email" name="email" id="inputEmail" placeholder="Email" value="<%=data.email%>">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <small>Complete if you want to change your password</small>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputPassword">Password</label>
                                        <div class="controls">
                                            <input type="password" id="inputPassword" name="password" placeholder="Password">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputRepeatPassword">Repeat Password</label>
                                        <div class="controls">
                                            <input type="password" id="inputRepeatPassword" name="repeatpassword" placeholder="Repeat Password">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <small>Change your email notifications settings</small>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputMentions">Mentions</label>
                                        <div class="controls">
                                            <input type="checkbox" name="mentions" id="inputMentions" <% if( data.notifications.mentions == 1 ) { %>checked="checked"<% } %>>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputPrivates">Privates messages</label>
                                        <div class="controls">
                                            <input type="checkbox" name="privates" id="inputPrivates" <% if( data.notifications.privates == 1 ) { %>checked="checked"<% } %>>
                                        </div>
                                    </div>
                                </div>
                            </p>
                        </div>
                        <div class="timeline-bar">
                            <div>
                                <button type="submit" class="btn">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form method="POST" action="/upload_avatar" enctype="multipart/form-data" id="user_avatar" class="form-horizontal">
                <div class="post">
                    <div class="timeline-preview">
                        <div class="timeline-icon"><span class="icon-photo"></span></div>
                        <div class="timeline-pointer"><span class="tl-pointer"></span></div>
                        <div class="timeline-content-page">
                            <div class="textpost">
                                <h2 class="post-title">Change your avatar</h2>
                                <span class="post-divider"></span>

                                <% if( notification ) { %>
                                <% if( notification.type == 'avatar' ) { %>
                                <p><%=notification.message%></p>
                                <% } %>
                                <% } %>

                                <div class="control-group">
                                    <label class="control-label" for="avatar">Image</label>
                                    <div class="controls">
                                        <input type="file" name="avatar" id="avatar" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-bar">
                            <div>
                                <button type="submit" class="btn">Upload Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form method="POST" action="/upload_top" enctype="multipart/form-data" id="user_top" class="form-horizontal">
                <div class="post">
                    <div class="timeline-preview">
                        <div class="timeline-icon"><span class="icon-photo"></span></div>
                        <div class="timeline-pointer"><span class="tl-pointer"></span></div>
                        <div class="timeline-content-page">
                            <div class="textpost">
                                <h2 class="post-title">Change your Top</h2>
                                <span class="post-divider"></span>

                                <% if( notification ) { %>
                                <% if( notification.type == 'top' ) { %>
                                <p><%=notification.message%></p>
                                <% } %>
                                <% } %>

                                <div class="control-group">
                                    <label class="control-label" for="avatar">Top Image</label>
                                    <div class="controls">
                                        <input type="file" name="top" id="top" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-bar">
                            <div>
                                <button type="submit" class="btn">Upload Top Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form method="POST" action="/invite" enctype="multipart/form-data" class="form-horizontal">
                <div class="post">
                    <div class="timeline-preview">
                        <div class="timeline-icon"><span class="icon-chat"></span></div>
                        <div class="timeline-pointer"><span class="tl-pointer"></span></div>
                        <div class="timeline-content-page">
                            <div class="textpost">
                                <h2 class="post-title">Invite people to Coolpa.net</h2>
                                <span class="post-divider"></span>

                                <% if( notification ) { %>
                                <% if( notification.type == 'invites' ) { %>
                                <p><%=notification.message%></p>
                                <% } %>
                                <% } %>

                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">Email</label>
                                    <div class="controls">
                                        <input type="text" name="invitations" id="inputEmail" placeholder="Emails comma separated" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-bar">
                            <div>
                                <button type="submit" class="btn" id="invites">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="post">
                <div class="timeline-preview">
                    <div class="timeline-icon"><span class="icon-chat"></span></div>
                    <div class="timeline-pointer"><span class="tl-pointer"></span></div>
                    <div class="timeline-content-page">
                        <div class="textpost">
                            <h2 class="post-title">Invitations sent</h2>
                            <span class="post-divider"></span>

                            <% invites.forEach( function(data) {  %>
                            <div>
                                <button class="btn" rel="tooltip" title="Send again" onclick="#';"><i class="icon-share-alt"></i></button>
                                <button class="btn" rel="tooltip" title="Delete invitation" onclick="#';"><i class="icon-remove"></i></button>
                                <span><%=data.email%></span>
                                <span class="post-divider"></span>
                            </div>
                            <% }); %>
                        </div>
                    </div>
            </div>

        </div> <!-- End .timeline-preview -->
    </div> <!-- End .post -->               

</div><!-- End #blogpost -->

</div><!-- End #timeline -->

</div><!-- End #content -->
</section>

<% include footer.html %>