<% include header.html %>

<section id="slider-wrapper">

    <div class="flexslider">
        <ul class="slides"> 
            <li>
                <img src="/images/top-header.jpg" alt="" />
            </li>
        </ul>
    </div>

</section>

<section id="content-wrapper">
    <div id="content">
        <div id="timeline">
            <div id="time-line">
                <div class="timeline-icon-bottom">
                    <a href="#" class="icon-totop"></a>
                    <span class="tophov">Back to top</span>
                </div>   
            </div>

            <div id="picture-profile">
                <a href="#">
                    <img src="/avatars/<%= data._id %>/avatar.square.jpg" alt="" />
                </a>
            </div>

            <div id="profile-description">
                <div class="timeline-preview">
                    <div class="timeline-icon-pp"><a href="/" class="icon-profile"></a></div>
                    <div class="timeline-pointer-pp"><span class="tl-pointer"></span></div>
                    <div class="timeline-content">
                        <p class="description">
                            <div class="textpost">
                                <!-- DESCRIPTION -->
                                <h2 class="post-title"><%= data.name %></h2>
                                <span class="post-divider"></span>
                                <div class="bodytext">
                                    <span><%= data.description %></span><br/>
                                    <% if( username == user || username == '' ) { %>
                                    <a href="/users/<%=user%>">Messages: <%=count%></a>
                                    <br/>
                                    <% } %>
                                    <a href="/reading/<%= (username != '') ? username : 'me' %>">Reading from: <%=connections%></a><br/>
                                    <a href="/readers/<%= (username != '') ? username : 'me' %>">Reading me: <%=connecteds%></a>
                                </div>
                            </div>
                        </p>
                    </div>
                    <div class="timeline-bar">
                        <div>
                            <% if( mustConnect ) { %>
                            <% if( isConnected ) { %>
                            <a href="/disconnect/<%=username%>" class="btn btn-danger">Disconnect</a><br/>
                            <% } else { %>
                            <a href="/connect/<%=username%>" class="btn btn-inverse">Connect</a><br/>
                            <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <div id="messages">
                <% messages.forEach(function(data){ %>
                <% if( data.sender != user && data.hidden == true ) { return ""; } %>
                <div class="post">
                    <div class="timeline-preview">
                        <div class="timeline-icon">
                            <!--<span class="icon-datepost"></span>-->
                            <div class="minipic">
                                <a href="/users/<%=data.sender%>">
                                    <img src="/avatars/<%= data.sender %>/avatar.square.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="timeline-pointer"><span class="tl-pointer"></span></div>
                        <div class="timeline-content-page">
                            <div class="textpost">
                                <h2 class="post-title">
                                    <a href="/users/<%=data.sender%>"><%= data.sender %></a>
                                </h2>
                                <span class="post-divider"></span>

                                <div class="bodytext">
                                    <p>
                                        <%- data.message.parseURL().parseUsername() %>
                                    </p>
                                    <span class="post-divider"></span>
                                    <!--<a href="{Permalink}" class="read_more">Read More ...</a>-->
                                    <time class="timeago read_more" datetime="<%=data.creationDate.toISOString()%>"></time>
                                    <div style="float:right;">
                                        <button class="btn"><a href="/message/<%= data._id %>" target="_BLANK"><i class="icon-globe"></i></a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div> <!-- End .timeline-preview -->
    </div> <!-- End .post -->               

</div><!-- End #blogpost -->

</div><!-- End #timeline -->

</div><!-- End #content -->
</section>

<% include footer.html %>