<div class="well" style="overflow: hidden; display: block;" id="id:<%= data._id %>">
    <div class="pull-left">
        <img src="/avatars/<%= data._id %>/avatar.square.jpg" class="img-rounded" width="100" height="100">
    </div>

    <div class="pull-left" style="margin-left: 15px;">
        <h4><a href="/users/<%=data._id%>"><%= data.name %></a></h4>
        <span><%= data.description %></span><br/>
        <span><%= data._id %></span><br/>
    </div>
    
    <!--<div class="pull-right" id="options">
        <div class="btn-group btn-group-vertical">
            <button class="btn" onclick="location.href='/users/remove/<%= data._id %>';"><i class="icon-remove"></i></button>
            <button class="btn"><i class="icon-print"></i></button>
        </div>
    </div>-->
</div>