    <% include header.html %>

    <section id="slider-wrapper">
        <div class="flexslider">
            <ul class="slides"> 
                <li>
                    <% if( user == undefined ) { %>
                    <img src="/images/top-header.jpg" alt="" />
                    <% } else { %>
                    <img src="/avatars/<%= user %>/top.jpg" alt="" />
                    <% } %>
                    <div id="main-description">
                        <h1>Welcome to Coolpa!</h1>
                        <span>Find out what's up with your family and friends.</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section id="content-wrapper">
        <div id="content">
            <div id="timeline">
                <div id="time-line">
                </div>

                <div id="picture-profile">
                    <a href="/">
                        <% if( user == undefined ) { %>
                        <img src="/avatars/avatar.jpg" />
                        <% } else { %>
                        <img src="/avatars/<%= user %>/avatar.square.jpg" alt="" />
                        <% } %>
                    </a>
                </div>

                    <div id="profile-description">
                        <div class="timeline-preview">
                            <div class="timeline-icon-pp"><a href="/" class="icon-answer"></a></div>
                            <div class="timeline-pointer-pp"><span class="tl-pointer"></span></div>
                            <div class="timeline-content">
                                <p class="description">
                                    <div class="textpost">
                                    <h2 class="post-title">About Coolpa.net</h2>
                                    <span class="post-divider"></span>
                                    <p>
                                    Coolpa is a social network that allows you to connect with friends and family.<br/>
                                    You can invite friends to join in.</br>
                                    You can share your thoughts, feelings and stories in a 140 character comment. Long enough to challenge yourself to make your stories more interesting!<br/><br/>
                                    You can mention your friends by adding ":" before their names. You can send private messages as well.<br/>
                                    You can experience Coolpa on your mobile device, just access from your device.<br/><br/>
                                    We will keep you update about our native apps. Right now we are testing the Android app available here: <a href="http://coolpa.net/apps/coolpa.native.apk">Download</a>
                                    </p>
                                </div>
                                </p>
                            </div>
                            <div class="timeline-bar">
                                <div>
                                    <a class="btn" href="/">Back to Coolpa</a>
                                </div>
                            </div>
                        </div>
                    </div>

                
            </div>
        </div>
    </div> 
</div> 

</div>

</div>

</div>
</section>

<% include footer.html %>