    <%include header.html%>

    <section id="slider-wrapper">
        <div class="flexslider">
            <ul class="slides"> 
                <li>
                    <img src="/images/top-header.jpg" alt="" />
                    <div id="main-description">
                        <h1>Welcome to Coolpa!</h1>
                        <span>Find out what's up with your family and friends.</span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section id="content-wrapper">
        <div id="content">
            <div id="timeline">
                <div id="time-line">
                </div>

                <div id="picture-profile">
                    <a href="/">
                        <img src="/avatars/avatar.jpg" />
                    </a>
                </div>

                <form method="POST" action="/password_recovery">
                    <div id="profile-description">
                        <div class="timeline-preview">
                            <div class="timeline-icon-pp"><a href="/" class="icon-profile"></a></div>
                            <div class="timeline-pointer-pp"><span class="tl-pointer"></span></div>
                            <div class="timeline-content">
                                <p class="description">
                                    <div class="textpost">
                                        <h2 class="post-title">Complete the fields with the new password</h2>
                                        <span class="post-divider"></span>
                                    
                                        <input type="text" id="code" name="code" placeholder="Code" value="<%=code%>" style="width: 95%" /><br/>
                                        <input type="password" id="password" name="password" placeholder="Password" value="" style="width: 95%" /><br/>
                                        <input type="password" id="repeatpassword" name="repeatpassword" placeholder="Repeat Password" value="" style="width: 95%" /><br/>

                                        <% if( password_notification != '' ) { %>
                                        <p><%=password_notification%></p>
                                        <% } %>

                                    </div>
                                </p>
                            </div>
                            <div class="timeline-bar">
                                <div>
                                    <input type="submit" value="Change Password" class="btn btn-large" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div> 
</div> 

</div>

</div>

</div>
</section>

<% include footer.html %>