    <%include header.html%>

    <section id="slider-wrapper">
        <div class="flexslider">
            <ul class="slides"> 
                <li>
                    <img src="/images/top-header.jpg" alt="" />
                    <div id="main-description">
                        <h1><%=t('welcome_message')%></h1>
                        <span><%=t('welcome_text')%></span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section id="content-wrapper">
        <div id="content">
            <div id="timeline">
                <div id="time-line">
                </div>

                <div id="picture-profile">
                    <a href="/">
                        <img src="/avatars/avatar.jpg" />
                    </a>
                </div>

                <form method="POST" action="/auth">
                    <div id="profile-description">
                        <div class="timeline-preview">
                            <div class="timeline-icon-pp"><a href="/" class="icon-profile"></a></div>
                            <div class="timeline-pointer-pp"><span class="tl-pointer"></span></div>
                            <div class="timeline-content">
                                <p class="description">
                                    <% if( auth_notification != '' ) { %>
                                    <div class="textpost">
                                    <% } %>
                                    <input type="text" id="username" name="username" placeholder="<%=t('username_email')%>" value="" style="width: 95%" /><br/>
                                    <input type="password" id="password" name="password" placeholder="<%=t('password')%>" value="" style="width: 95%" /><br/>

                                    <a href="javascript:$('#password_recovery').show();$('#rusername').focus();"><%=t('login.password_lost')%></a><br/>
                                    <% if( auth_notification != '' ) { %>
                                    <br/>
                                    <p><%=auth_notification%></p>
                                    </div>
                                    <% } %>
                                </p>
                            </div>
                            <div class="timeline-bar">
                                <div>
                                    <input type="submit" value="<%=t('login.login')%>" class="btn btn-large" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form method="POST" action="/recover" id="password_recovery">
                    <div class="post">
                        <div class="timeline-preview">
                            <div class="timeline-icon"><span class="icon-answer"></span></div>
                            <div class="timeline-pointer"><span class="tl-pointer"></span></div>
                            <div class="timeline-content-page">
                                <div class="textpost">
                                    <h2 class="post-page-title">
                                        <%=t('login.password_recovery')%>
                                    </h2>
                                    <span class="post-divider"></span>

                                    <div class="bodytext">
                                        <input type="text" id="rusername" name="rusername" placeholder="<%=t('username_email')%>" value="" style="width: 95%" /><br/>

                                        <% if( recover_notification != '' ) { %>
                                        <p><%=recover_notification%></p>
                                        <script>
                                        $('#password_recovery').show();
                                        </script>
                                        <% } %>

                                        <span class="post-divider"></span>

                                        <input type="submit" value="<%=t('submit')%>" class="btn" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form method="POST" action="/request_beta">
                    <div class="post">
                        <div class="timeline-preview">
                            <div class="timeline-icon"><span class="icon-answer"></span></div>
                            <div class="timeline-pointer"><span class="tl-pointer"></span></div>
                            <div class="timeline-content-page">
                                <div class="textpost">
                                    <h2 class="post-page-title">
                                        <%=t('login.why_beta')%>
                                    </h2>
                                    <span class="post-divider"></span>

                                    <div class="bodytext">
                                        <% if( beta_notification == '' ) { %>
                                        <p>
                                            Right now we are running some test before releasing the final version. If you want to help us to test Coolpa, please suscribe in the form below and we will be inviting you as soonas we were ready!
                                        </p>
                                        <span class="post-divider"></span>

                                        <input type="email" id="email" name="email" placeholder="<%=t('login.introduce_email')%>" style="width: 95%" />

                                        <span class="post-divider"></span>

                                        <input type="submit" value="<%=t('login.suscribe')%>" class="btn" />

                                        <% } else { %>
                                            <p><%=beta_notification%></p>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="post">
                        <div class="timeline-preview">
                            <div class="timeline-icon"><span class="icon-answer"></span></div>
                            <div class="timeline-pointer"><span class="tl-pointer"></span></div>
                            <div class="timeline-content-page">
                                <div class="textpost">
                                    <p class="description">
                                        <a href="javascript:changeLang('en');">en</a> | <a href="javascript:changeLang('es');">es</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div> 
</div> 

</div>

</div>

</div>
</section>

<% include footer.html %>