<% include header.html %>

<section id="slider-wrapper">

    <div class="flexslider">
        <ul class="slides"> 
            <li>
                <img src="/avatars/<%= data._id %>/top.jpg" alt="" />
            </li>
        </ul>
    </div>

</section>

<section id="content-wrapper">
    <div id="content">
        <div id="timeline">
            <div id="time-line">
                <div class="timeline-icon-bottom">
                    <a href="#" class="icon-totop"></a>
                    <span class="tophov">Back to top</span>
                </div>   
            </div>

            <div id="picture-profile">
                <a href="#">
                    <img src="/avatars/<%= data._id %>/avatar.square.jpg" alt="" />
                </a>
            </div>

            <form class="form-horizontal tab-pane active" method="POST" action="/user_data" id="user_data">
                <div id="profile-description">
                    <div class="timeline-preview">
                        <div class="timeline-icon-pp"><a href="/" class="icon-profile"></a></div>
                        <div class="timeline-pointer-pp"><span class="tl-pointer"></span></div>
                        <div class="timeline-content">
                            <p class="description">
                                <div class="textpost">
                                    <h2 class="post-title">Your data</h2>
                                    <span class="post-divider"></span>

                                    <% if( notification ) { %>
                                    <% if( notification.type == 'data' ) { %>
                                    <p><%=notification.message%></p>
                                    <% } %>
                                    <% } %>

                                    <div class="control-group">
                                        <label class="control-label" for="inputName">Name</label>
                                        <div class="controls">
                                            <input type="text" name="name" id="inputName" placeholder="Your name" value="<%=data.name%>">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputLocation">Location</label>
                                        <div class="controls">
                                            <input type="text" name="location" id="inputLocation" placeholder="Ex. New York, United States" value="<%=data.location%>">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputWebsite">Website</label>
                                        <div class="controls">
                                            <input type="text" name="website" id="inputWebsite" placeholder="http://coolpa.net" value="<%=data.website%>">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputDescription">Description</label>
                                        <div class="controls">
                                            <input type="text" name="description" id="inputDescription" placeholder="A bit about you..." maxlength="140" value="<%=data.description%>">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputEmail">Email</label>
                                        <div class="controls">
                                            <input type="email" name="email" id="inputEmail" placeholder="Email" value="<%=data.email%>">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <small>Change your language</small>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputMentions">Language</label>
                                        <div class="controls">
                                            <select name="language" id="language">
                                                <option value="en">English</option>
                                                <option value="es">Español</option>
                                            </select>
                                            <script>$("#language").val('<%=data.language%>');</script>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <small>Complete if you want to change your password</small>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputPassword">Password</label>
                                        <div class="controls">
                                            <input type="password" id="inputPassword" name="password" placeholder="Password">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputRepeatPassword">Repeat Password</label>
                                        <div class="controls">
                                            <input type="password" id="inputRepeatPassword" name="repeatpassword" placeholder="Repeat Password">
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <small>If you change this settings your profile will be public</small>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputPublic">Public Profile</label>
                                        <div class="controls">
                                            <input type="checkbox" name="public" id="inputPublic" <% if( data.public ) { %>checked="checked"<% } %>>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <small>Change your email notifications settings</small>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputMentions">Mentions</label>
                                        <div class="controls">
                                            <input type="checkbox" name="mentions" id="inputMentions" <% if( data.notifications.mentions == 1 ) { %>checked="checked"<% } %>>
                                        </div>
                                    </div>

                                    <div class="control-group">
                                        <label class="control-label" for="inputPrivates">Privates messages</label>
                                        <div class="controls">
                                            <input type="checkbox" name="privates" id="inputPrivates" <% if( data.notifications.privates == 1 ) { %>checked="checked"<% } %>>
                                        </div>
                                    </div>
                                </div>
                            </p>
                        </div>
                        <div class="timeline-bar">
                            <div>
                                <button type="submit" class="btn">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form method="POST" action="/change_username" enctype="multipart/form-data" id="user_change" class="form-horizontal">
                <div class="post">
                    <div class="timeline-preview">
                        <div class="timeline-icon"><span class="icon-profile"></span></div>
                        <div class="timeline-pointer"><span class="tl-pointer"></span></div>
                        <div class="timeline-content-page">
                            <div class="textpost">
                                <h2 class="post-title">Change Username</h2>
                                <span class="post-divider"></span>

                                <div class="alert alert-block alert-error">
                                    - This is a very dangerous process. Make it under your own risk. Data could be removed in the process.<br/>
                                    - If you decide to change your username please wait until the process finish.
                                </div>

                                <% if( notification ) { %>
                                <% if( notification.type == 'top' ) { %>
                                <p><%=notification.message%></p>
                                <% } %>
                                <% } %>

                                <div class="control-group">
                                    <label class="control-label" for="inputUsername">Username</label>
                                    <div class="controls">
                                        <input type="text" name="username" id="inputUsername" placeholder="Username" value="<%=data._id%>">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-bar">
                            <div>
                                <button type="button" id="username_btn" class="btn">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <script>
                $("#username_btn").click(function() {
                    $("#username_change").modal();

                    var socket = io.connect('http://coolpa.net');
                    socket.emit('username', '<%=data._id%>');
                    socket.on('username_change', function (data) {
                        $("#username_change .bar").css('width', data.progress + '%');
                        $("#username_change #message").html( data.message );
                    });

                    $.post('/change_username', {
                        username: $("#inputUsername").val()
                    }, function( data ) {
                        /* reload */
                        location.reload();
                    }, 'json');
                });
            </script>

            <div id="username_change" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="change" aria-hidden="true" data-backdrop="static" data-keyboard="false">
                <div class="modal-body">
                    <div class="progress progress-striped active">
                        <div class="bar bar-success" style="width: 0%;"></div>
                    </div>
                    <p id="message">Starting...</p>
                </div>
            </div>

            <form method="POST" action="/upload_avatar" enctype="multipart/form-data" id="user_avatar" class="form-horizontal">
                <div class="post">
                    <div class="timeline-preview">
                        <div class="timeline-icon"><span class="icon-photo"></span></div>
                        <div class="timeline-pointer"><span class="tl-pointer"></span></div>
                        <div class="timeline-content-page">
                            <div class="textpost">
                                <h2 class="post-title">Change your avatar</h2>
                                <span class="post-divider"></span>

                                <% if( notification ) { %>
                                <% if( notification.type == 'avatar' ) { %>
                                <p><%=notification.message%></p>
                                <% } %>
                                <% } %>

                                <div class="control-group">
                                    <label class="control-label" for="avatar">Image</label>
                                    <div class="controls">
                                        <input type="file" name="avatar" id="avatar" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-bar">
                            <div>
                                <button type="submit" class="btn">Upload Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form method="POST" action="/upload_top" enctype="multipart/form-data" id="user_top" class="form-horizontal">
                <div class="post">
                    <div class="timeline-preview">
                        <div class="timeline-icon"><span class="icon-photo"></span></div>
                        <div class="timeline-pointer"><span class="tl-pointer"></span></div>
                        <div class="timeline-content-page">
                            <div class="textpost">
                                <h2 class="post-title">Change your Top</h2>
                                <span class="post-divider"></span>

                                <% if( notification ) { %>
                                <% if( notification.type == 'top' ) { %>
                                <p><%=notification.message%></p>
                                <% } %>
                                <% } %>

                                <div class="control-group">
                                    <label class="control-label" for="avatar">Top Image</label>
                                    <div class="controls">
                                        <input type="file" name="top" id="top" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-bar">
                            <div>
                                <button type="submit" class="btn">Upload Top Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <form method="POST" action="/invite" enctype="multipart/form-data" class="form-horizontal">
                <div class="post">
                    <div class="timeline-preview">
                        <div class="timeline-icon"><span class="icon-chat"></span></div>
                        <div class="timeline-pointer"><span class="tl-pointer"></span></div>
                        <div class="timeline-content-page">
                            <div class="textpost">
                                <h2 class="post-title">Invite people to Coolpa.net</h2>
                                <span class="post-divider"></span>

                                <% if( notification ) { %>
                                <% if( notification.type == 'invites' ) { %>
                                <p><%=notification.message%></p>
                                <% } %>
                                <% } %>

                                <div class="control-group">
                                    <label class="control-label" for="inputEmail">Email</label>
                                    <div class="controls">
                                        <input type="text" name="invitations" id="inputEmail" placeholder="Emails comma separated" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-bar">
                            <div>
                                <button type="submit" class="btn" id="invites">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="post" id="invite_again">
                <div class="timeline-preview">
                    <div class="timeline-icon"><span class="icon-chat"></span></div>
                    <div class="timeline-pointer"><span class="tl-pointer"></span></div>
                    <div class="timeline-content-page">
                        <div class="textpost">
                            <h2 class="post-title">Invitations sent</h2>
                            <span class="post-divider"></span>

                            <% if( notification ) { %>
                            <% if( notification.type == 'invite_again' ) { %>
                                <p><%=notification.message%></p>
                            <% } %>
                            <% } %>

                            <% invites.forEach( function(data) {  %>
                            <div class="invites">
                                <button class="btn" rel="tooltip" title="Send again" onclick="location.href='/invite_again/<%=data.code%>';"><i class="icon-share-alt"></i></button>
                                <button class="btn" rel="tooltip" title="Delete invitation" onclick="location.href='/invite_remove/<%=data.code%>';"><i class="icon-remove"></i></button>
                                <span><%=data.email%></span>
                            </div>
                            <% }); %>
                        </div>
                    </div>
            </div>

        </div> <!-- End .timeline-preview -->
    </div> <!-- End .post -->               

</div><!-- End #blogpost -->

</div><!-- End #timeline -->

</div><!-- End #content -->
</section>

<% include footer.html %>